body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: lightpink;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

nav a {
    color:white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 0;
}

footer {
    background-color: lightblue;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
